.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
    background-color: var(--gray-700);
}

@media (max-width: 640px) {
    .header {
        height: 120px;
    }
}

@media (max-width: 768px) {
    .header {
        height: 170px;
    }
}




