.inputDecoration {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 1rem;
    max-width: 736px;
    width: 100%;
    margin: -27px auto 0;
}

.inputDecoration input {
    width: 100%;
    padding: 1rem;
    background-color: var(--gray-500);
    border: 0;
    border-radius: 8px;
}

.inputDecoration input:focus {
    outline: 2px solid var(--purple-600);
}

.inputDecoration button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--blue-600);
    border: 0;
    color: var(--gray-100);
    font-weight: 700;
    cursor: pointer;
    transition: all .4s;
}

.inputDecoration button:focus {
    outline: 2px solid var(--blue-200);
}

.inputDecoration button:hover {
    background-color: var(--blue-200);
}